
{% extends 'base.html' %}
{% load static %}
{% block content %}

<script>
    $(document).ready(function() {
        $('#search-number').keyup(function(){
            $(".result-search-card").hide()
            var query = $(this).val().toLowerCase()
            console.log(query)
            $(".name").each(function(index, value){
                if ($(value).text().toLowerCase().includes(query)){
                    $(value).parents(".result-search-card").show()
                }
            })
        })


    })
</script>

<style>
    .hos-pol-container a, .hos-pol-container button {
        line-height: 45px;
    }
</style>

<div class="hos-pol-container">
    <p class="search-data">Emergency Numbers</p><hr>
    <input type="text" id="search-number" placeholder="Search" style="outline:none;border-radius: 20px; border: 1px solid #245584;padding: 5px 10px 5px 10px;">
            <div class="results-search">
                {% for numbers in emrgencies %}
                <div class="result-search-card mt-3 emer-results">
                    <div class="row">
                        <div class="col-sm-6"><p class="search-label">Name</p><p class="search-data name" style="font-size: 19px;">{{ numbers.name }}</p></div>
                        <div class="col-sm-6"><p class="search-label">Phone</p> <p class="search-data" style="font-size: 19px;">{{ numbers.phone }}</p> </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            {% endblock %}